name: Build Debug
on:
 workflow_dispatch:
 pull_request_target:

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      KEYSTORE_PASSWORD: ${{ secrets.KEYSTORE_PASSWORD }}
      KEY_ALIAS: ${{ secrets.KEY_ALIAS }}
      KEY_PASSWORD: ${{ secrets.KEY_PASSWORD}}
      CERTIFICATE_BASE64: ${{ secrets.CERTIFICATE_BASE64 }}
    steps:
      - uses: actions/checkout@v6
      - name: Set up JDK 21
        uses: actions/setup-java@v5
        with:
          java-version: '21'
          distribution: 'oracle'
          check-latest: true
      - name: Make gradlew executable
        run: chmod +x ./gradlew
        shell: bash
      - name: "*** base64 ***"
        run: |
         echo $CERTIFICATE_BASE64 | base64 -i -d > ${{ github.workspace }}/app/android-LQ0F5.keystore
      - name: echo "*** Download bundletool ***"
        run: |
         RELEASE=$(curl -L -s -H 'Accept: application/json' https://github.com/google/bundletool/releases/latest)
         VERSION=$(echo $RELEASE | sed -e 's/.*"tag_name":"\([^"]*\)".*/\1/')
         echo VERSION = $VERSION
         URL=$(curl -L -o ./bundletool.jar https://github.com/google/bundletool/releases/download/$(echo $RELEASE | sed -e 's/.*"tag_name":"\([^"]*\)".*/\1/')/bundletool-all-$(echo $RELEASE | sed -e 's/.*"tag_name":"\([^"]*\)".*/\1/').jar)
      - name: Build nokia5.json file
        run: |
         JSON_N5='{"supportedAbis":["arm64-v8a"],"supportedLocales":["en", "sk"],"screenDensity":446,"sdkVersion":36}\n'
         printf "$JSON_N5" "$supportedAbis" "$supportedLocales" "$screenDensity" "$sdkVersion" >> ./nokia5.json
         cat ./nokia5.json | jq
      - name: Build with Gradle
        run: ./gradlew assembleDebug
      - name: Build app bundle
        run: ./gradlew app:bundleDebug
      - name: generated APK file
        uses: actions/upload-artifact@v6
        with:
         name: data-livewallpaper-debug(.apk)
         path: ./app/build/outputs/apk/debug/*.apk
      - name: generated app bundle
        uses: actions/upload-artifact@v6
        with:
         name: bundletool(.aab)
         path: ./app/build/outputs/bundle/debug
      - name: bundletool build-apks
        run: java -jar ./bundletool.jar build-apks --bundle=./app/build/outputs/bundle/debug/app-debug.aab --output=./MyApp/my_app.apks --ks=./app/android-LQ0F5.keystore --ks-pass=pass:${{ secrets.KEYSTORE_PASSWORD }} --key-pass=pass:${{ secrets.KEY_PASSWORD }} --ks-key-alias=${{ secrets.KEY_ALIAS }}
      - name: apks
        uses: actions/upload-artifact@v6
        with:
         name: apks(.apks)
         path: ./MyApp/my_app.apks
      - name: bundletool build-apks nokia5.json
        run: java -jar ./bundletool.jar build-apks --device-spec=./nokia5.json --bundle=./app/build/outputs/bundle/debug/app-debug.aab --output=./MyApp/nokia5_app.apks --ks=./app/android-LQ0F5.keystore --ks-pass=pass:${{ secrets.KEYSTORE_PASSWORD }} --key-pass=pass:${{ secrets.KEY_PASSWORD }} --ks-key-alias=${{ secrets.KEY_ALIAS }}
      - name: apks nokia5
        uses: actions/upload-artifact@v5
        with:
         name: nokia5(.apks)
         path: ./MyApp/nokia5_app.apks

      - name: get-size
        run: |
          echo Size : my_app.apks
          java -jar ./bundletool.jar get-size total --human-readable-sizes --apks=./MyApp/my_app.apks
          echo Size : --device-spec=./nokia5.json
          java -jar ./bundletool.jar get-size total --human-readable-sizes --device-spec=./nokia5.json --apks=./MyApp/my_app.apks
          echo ----------------------------------------

      - name: Gradle test verbose
        run: |
         echo -e "\033[31;1m Gradle Test Verbose \033[0m"
         ./gradlew test --warning-mode all

      - name: Gradle check
        run: |
         echo -e "\033[31;1m Gradle Check \033[0m"
         ./gradlew check

      - name: reports
        uses: actions/upload-artifact@v6
        with:
         name: reports
         path: |
          ./app/build/outputs/logs/*.*
          ./app/build/reports/*.*
          ./build/reports/problems/*.*

      - name: tree
        run: |
         echo install tree
         sudo apt-get install -y tree
         echo ***./app/build/outputs/***
         tree -h ./app/build/outputs/
         echo ***./MyApp/***
         tree -h ./MyApp/

      - uses: actions/download-artifact@v8
        with:
         path: ./artifacts/
      - name: Display structure of downloaded files
        run: tree -h ./artifacts/

      - name: sha256sum
        run: find ./artifacts/ -type f -print0 | xargs -0 sha256sum
